{
    "openapi": "3.0.0",
    "info": {
        "title": "API Dragon Ball FCT",
        "description": "Documentación oficial de la API. ¡Siente el Ki!",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api-dragon-ball.saosl.com",
            "description": "Servidor Local"
        }
    ],
    "paths": {
        "/api/personajes": {
            "get": {
                "tags": ["Personajes"],
                "summary": "Listar todos los personajes",
                "operationId": "81b94e43f5695c010db6746c025e8588",
                "responses": {
                    "200": {
                        "description": "Lista de personajes obtenida con éxito"
                    }
                }
            },
            "post": {
                "tags": ["Personajes"],
                "summary": "Crear un nuevo personaje",
                "operationId": "bb37a7570de4b6e1946f15ab0eaad748",
                "requestBody": {
                    "description": "Datos del personaje, incluyendo su planeta y transformaciones",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "ki",
                                    "maxKi",
                                    "race",
                                    "gender",
                                    "description",
                                    "image",
                                    "affiliation",
                                    "originPlanet"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Hit"
                                    },
                                    "ki": {
                                        "type": "string",
                                        "example": "10000000"
                                    },
                                    "maxKi": {
                                        "type": "string",
                                        "example": "50000000"
                                    },
                                    "race": {
                                        "type": "string",
                                        "example": "Assassin"
                                    },
                                    "gender": {
                                        "type": "string",
                                        "example": "Male"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Asesino legendario del Universo 6"
                                    },
                                    "image": {
                                        "type": "string",
                                        "example": "https://ejemplo.com/hit.webp"
                                    },
                                    "affiliation": {
                                        "type": "string",
                                        "example": "Universe 6"
                                    },
                                    "originPlanet": {
                                        "required": [
                                            "name",
                                            "isDestroyed",
                                            "description",
                                            "image"
                                        ],
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "example": "Planeta Sadala"
                                            },
                                            "isDestroyed": {
                                                "type": "boolean",
                                                "example": false
                                            },
                                            "description": {
                                                "type": "string",
                                                "example": "Hogar original de los Saiyans"
                                            },
                                            "image": {
                                                "type": "string",
                                                "example": "https://ejemplo.com/sadala.webp"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "transformations": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "Orange Piccolo"
                                                },
                                                "image": {
                                                    "type": "string",
                                                    "example": "https://ejemplo.com/super-saiyan.webp"
                                                },
                                                "ki": {
                                                    "type": "string",
                                                    "example": "99999999"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Personaje creado con éxito"
                    },
                    "422": {
                        "description": "Error de validación (ej. El personaje ya existe o el planeta no es válido)"
                    }
                }
            }
        },
        "/api/personajes/{id}": {
            "get": {
                "tags": ["Personajes"],
                "summary": "Obtener un personaje por su ID",
                "operationId": "df74aada7e99eb3739537ddd8ec04819",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "El ID numérico del personaje que quieres buscar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Personaje encontrado y devuelto con éxito"
                    },
                    "404": {
                        "description": "Personaje no encontrado (o eliminado)"
                    }
                }
            },
            "put": {
                "tags": ["Personajes"],
                "summary": "Actualizar un personaje existente",
                "operationId": "3e32c2eb8b0bc16d87fbf8eb23ef41ff",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "El ID numérico del personaje que vas a actualizar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "Envía solo los campos que quieras actualizar. (Ejemplo: Solo enviar el Ki y la descripción)",
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Goku (Post-Entrenamiento)"
                                    },
                                    "ki": {
                                        "type": "string",
                                        "example": "90000000"
                                    },
                                    "maxKi": {
                                        "type": "string",
                                        "example": "150000000"
                                    },
                                    "race": {
                                        "type": "string",
                                        "example": "Saiyan"
                                    },
                                    "gender": {
                                        "type": "string",
                                        "example": "Male"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Goku después de entrenar..."
                                    },
                                    "image": {
                                        "type": "string",
                                        "example": "https://ejemplo.com/goku_nuevo.webp"
                                    },
                                    "affiliation": {
                                        "type": "string",
                                        "example": "Z Fighter"
                                    },
                                    "originPlanet": {
                                        "description": "Opcional. Si lo envías, debes mandar sus datos completos.",
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "example": "Tierra"
                                            },
                                            "isDestroyed": {
                                                "type": "boolean",
                                                "example": false
                                            },
                                            "description": {
                                                "type": "string",
                                                "example": "Hogar adoptivo de Goku"
                                            },
                                            "image": {
                                                "type": "string",
                                                "example": "https://ejemplo.com/tierra.webp"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "transformations": {
                                        "description": "Opcional. Si lo envías, borrará las anteriores y guardará estas nuevas.",
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "Ultra Ego"
                                                },
                                                "image": {
                                                    "type": "string",
                                                    "example": "https://ejemplo.com/ssj2.webp"
                                                },
                                                "ki": {
                                                    "type": "string",
                                                    "example": "150000000"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Personaje actualizado con éxito"
                    },
                    "404": {
                        "description": "Personaje no encontrado"
                    },
                    "422": {
                        "description": "Error de validación (ej. El planeta no es válido)"
                    }
                }
            },
            "delete": {
                "tags": ["Personajes"],
                "summary": "Eliminar un personaje",
                "description": "Realiza un borrado lógico (Soft Delete) del personaje indicado por su ID.",
                "operationId": "f49405bd769a339c74f76d42feb0d79e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "El ID numérico del personaje que vas a eliminar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Personaje eliminado con éxito"
                    },
                    "404": {
                        "description": "Personaje no encontrado (o ya estaba eliminado)"
                    }
                }
            }
        },
        "/api/planetas": {
            "get": {
                "tags": ["Planetas"],
                "summary": "Obtener todos los planetas",
                "operationId": "fe8c928e7b4ecd15badc54d8791fdbce",
                "responses": {
                    "200": {
                        "description": "Lista de planetas"
                    }
                }
            },
            "post": {
                "tags": ["Planetas"],
                "summary": "Crear un nuevo planeta",
                "operationId": "1ffaf79904345f5156d3403e6a2e069a",
                "requestBody": {
                    "description": "Datos del nuevo planeta",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "isDestroyed",
                                    "description",
                                    "image"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Planeta Vegeta 2"
                                    },
                                    "isDestroyed": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Planeta natal de los saiyajin..."
                                    },
                                    "image": {
                                        "type": "string",
                                        "example": "https://ejemplo.com/planeta_vegeta.webp"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Planeta creado con éxito"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                }
            }
        },
        "/api/planetas/{id}": {
            "get": {
                "tags": ["Planetas"],
                "summary": "Obtener un planeta por ID",
                "operationId": "3706697f71f833a754567cb9bc42b9be",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del planeta en especifico que quieres obtener",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Planeta encontrado"
                    },
                    "404": {
                        "description": "Planeta no encontrado"
                    }
                }
            },
            "put": {
                "tags": ["Planetas"],
                "summary": "Actualizar un planeta existente",
                "operationId": "f54ba989ec73cff10ed7e85043fd5c5d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del planeta que quieres actualizar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "Datos del planeta a actualizar",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Planeta Vegeta 777"
                                    },
                                    "isDestroyed": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Planeta natal..."
                                    },
                                    "image": {
                                        "type": "string",
                                        "example": "https://ejemplo.com/planeta_vegeta.webp"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Planeta actualizado con éxito"
                    },
                    "404": {
                        "description": "Planeta no encontrado"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                }
            },
            "delete": {
                "tags": ["Planetas"],
                "summary": "Eliminar un planeta",
                "operationId": "810fe44192d7c74dc7be63640e9b526f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del planeta que quieres eliminar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 8
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Planeta eliminado con éxito"
                    },
                    "404": {
                        "description": "Planeta no encontrado"
                    }
                }
            }
        },
        "/api/transformaciones": {
            "get": {
                "tags": ["Transformaciones"],
                "summary": "Obtener todas las transformaciones",
                "operationId": "c65fde83076b6d91fcf751780ea1bf32",
                "responses": {
                    "200": {
                        "description": "Lista de transformaciones"
                    }
                }
            },
            "post": {
                "tags": ["Transformaciones"],
                "summary": "Crear una nueva transformación",
                "operationId": "b6b1c914e621f0d944f3a2a8c591d232",
                "requestBody": {
                    "description": "Datos de la nueva transformación. Puedes enviarla huérfana o asignarla directamente a un personaje.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": ["name", "ki", "image"],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Ultra Ego 2"
                                    },
                                    "ki": {
                                        "type": "string",
                                        "example": "150000000"
                                    },
                                    "image": {
                                        "type": "string",
                                        "example": "https://ejemplo.com/ultra_ego.webp"
                                    },
                                    "character_id": {
                                        "description": "Opcional. ID del personaje al que pertenece.",
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Transformación creada con éxito"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                }
            }
        },
        "/api/transformaciones/{id}": {
            "get": {
                "tags": ["Transformaciones"],
                "summary": "Obtener una transformación por su ID",
                "description": "Devuelve los datos detallados de una transformación específica buscando por su ID.",
                "operationId": "6176573197d1e7467146c41c995f6d9a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "El ID numérico de la transformación que quieres buscar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 8
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transformación encontrada y devuelta con éxito"
                    },
                    "404": {
                        "description": "Transformación no encontrada (o eliminada)"
                    }
                }
            },
            "put": {
                "tags": ["Transformaciones"],
                "summary": "Actualizar una transformación existente",
                "operationId": "df5c1d839c1779b1532d0a3599d3714a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "El ID numérico de la transformación que vas a actualizar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "Envía solo los campos que quieras actualizar. (Ejemplo: Aumentar el Ki o asignarla a un personaje).",
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Super Saiyan 3 (Dominado)"
                                    },
                                    "ki": {
                                        "type": "string",
                                        "example": "500000000"
                                    },
                                    "image": {
                                        "type": "string",
                                        "example": "https://ejemplo.com/ssj3_dominado.webp"
                                    },
                                    "character_id": {
                                        "description": "ID del personaje para asignarla, o null para dejarla huérfana.",
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Transformación actualizada con éxito"
                    },
                    "404": {
                        "description": "Transformación no encontrada"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                }
            },
            "delete": {
                "tags": ["Transformaciones"],
                "summary": "Eliminar una transformación",
                "description": "Elimina la transformación indicada por su ID de la base de datos.",
                "operationId": "1e718b49359c8a635dabfcf8130dcad5",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "El ID numérico de la transformación que vas a eliminar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transformación eliminada con éxito"
                    },
                    "404": {
                        "description": "Transformación no encontrada (o ya estaba eliminada)"
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "Personajes",
            "description": "Personajes"
        },
        {
            "name": "Planetas",
            "description": "Planetas"
        },
        {
            "name": "Transformaciones",
            "description": "Transformaciones"
        }
    ]
}
